@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    line-height: 1.4;
    background-color: hsl(214, 17%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
}

.container {
    max-width: 1110px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(2, 1fr);
    gap: 1.5 rem;
    grid-template-areas: 
    "first first second fifth"
    "third fourth fourth fifth";
}


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
